* {
  margin: 0;
  padding: 0;
}
body, html {
  font-family: 'Caveat', cursive;  
}
p, h1, footer {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
.lorem {
  padding: 10px;
  font-size: 20px;
}
.loremH1 {
  padding: 90px 0 49px 0;
}
.back-color {
  background-color: white;
  transform: translateY(-70px);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page-option {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.option, .option-text{ 
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  transition: 1s;
}
.option:nth-child(1) {
  background-image: url('./images/studio.jpg');
  background-size: cover;          
  background-repeat: no-repeat;
  background-position: top; 
}
.option:nth-child(2) {
  background-image: url('./images/kids.jpg');
  background-size: cover;          
  background-repeat: no-repeat;
  background-position: center center;
}
.h1-photo {
  position: absolute;
  top: 0;
  font-size: 48px;
  text-align: center;
  transition: 1s;
  display: flex;
  padding: 0 25px;
  width: 49%;
  height: 100%;
  cursor: pointer;
}
.h1-photo:nth-child(1) {
  align-items: flex-end;
  justify-content: flex-start;
  left: 0;
}
.h1-photo:nth-child(1) h1 {
  color: rgba(255, 255, 255, 0);
}
.h1-photo:nth-child(2) {
  align-items: flex-start;
  justify-content: flex-end;
  right: 0;
  color: rgba(219, 77, 80, 0);;
}
.h1-photo h1 {
  font-family: 'Poiret One', cursive;
  padding: 40px;
  font-size: 70px;
  font-weight: bold;
}
.h1-photo a {
  text-decoration: none;
}
.option span {
  display: inline-block;
  opacity: 0;
  width: 49vw;
  height: 100vh;
}
.page-option:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
#romb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  width: 350px;
  height: 350px;
  background: white;
  border-radius:20px;
}
.banner-container {
  height: 100vh;
}
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}
.banner-woman {
  background: url('./images/woman.jpg') no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}
.banner-kindergarten {
  background: url('./images/kindergarten.jpg') no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}
#logo-home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 200px;
  background-image: url('./images/fotodawid_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.belt-logo-burger {
  display: none;
  width: 100vw;
  background-color: rgba(255,255,255,0.9);
}
#logo-portrait {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 50px;
  background-image: url('./images/fotodawid_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#logo {
  position: relative;
  top: 10px;
  left: 10px;
  width: 120px;
  height: 60px;
  background-image: url('./images/fotodawid_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
nav {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav li {
  transition: 0.5s;
  list-style-type: none;
  text-align: center;
  margin: 15px 0 10px 0;
  padding: 5px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li:first-child {
  margin-left: 20px;
}
nav a {
  text-decoration: none;
  color: #db4d50;
  font-size: 28px;
}
nav a:hover {
  color: black;
}
.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 112;
}
.nav-mobile ul{
  display: flex;
  flex-direction: column;
}
.nav-mobile li {
  margin: 5px !important;
  padding: 3px 25px;
  font-weight: bold;
  background-color: #f59692;
  border-radius: 2px;
}
.nav-mobile a {
  color: white;
}
#about-us-studio, #about-us-kindergarten {
  text-align: justify;
}
.title {
  font-size: 40px;
  padding: 60px;
  padding-top: 100px;
  text-align: center;
}
#about-us-studio h2, #about-us-kindergarten h2 {
  /* letter-spacing: 3px; */
  font-size: 28px;
  text-align: center;
  padding-bottom: 60px;
}
#about-us-studio h3, #about-us-kindergarten h3 {
  /* letter-spacing: 4px; */
  font-size: 35px;
  text-align: center;
  padding-bottom: 40px;
}
#about-us-studio p, #about-us-kindergarten p, #about-us-studio-offer p {
  font-size: 28px;
  line-height: 35px;
  padding: 20px 10px;
}
#about-us-kindergarten-gallery {
  padding-top: 32px;
}
.h1-photo span {
  display: none;
}
.photo-gallery {
  padding-bottom: 20px;
  display: flex;
}
.photo-box {
  min-width: 250px;
  height: 350px;
  flex: 1;
  overflow: hidden;
}
.photo-box-gallery {
  width: 1172px;
  height: 931px;
  margin: 0 auto 50px auto;
  display: flex;
  position:relative;
}
#about-us-studio-gallery {
  padding-top: 32px; 
  position: relative;
}
.show-big-photo {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.9);
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
}
.show-big-photo img {
  width: 500px;
}
.photo-box-gallery-horizontal {
  width: 100%;
  margin-bottom: 20px;
  position:relative;
  overflow: hidden;
}
.photo-box-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.big-photo-container {
  position: relative;
  width: 1000px;
}
.big-photo-gallery img {
  width: 100%
}
.exit-button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.exit-button {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
.exit-button:hover {
  background-color: #f59692;
  color: white;
  cursor: pointer;
}
.photo-horizontal {
  position: relative;
  overflow: hidden;
  flex: 1;
}
.photo-horizontal img {
  width: 100%;
  height: 100%;
  /* transform: scale(1.05); */
  transition: 0.3s;
}
.photo-horizontal img:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}
.photo-box-mini {
  width: 231px;
  display: flex;
  flex-direction: column
}
.photo-box-mini img {
  width: 231px;
  height: 307px;
  transition: 0.6s;
}
.photo-box-mini img:hover {
  transform: scale(1.1);
  transition: 0.6s;
  cursor: pointer;
}
.mini-img {
  margin: 0 5px;
}
.mini-img:nth-child(2) {
  margin: 5px;
}
.photo-box-big {
  position: relative;
}
.photo-box-big img {
  width: 700px;
  height: 931px;
}
.mini-img {
  overflow: hidden;
}
.icon-photo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  z-index: 255;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.icon-photo:last-child {
  left: 600px;
  transition: 0.3s;
}
.icon-photo:hover, .back:hover, .next:hover, .back-big:hover, .next-big:hover {
  opacity: 1;
  cursor: pointer;
}
.icon-photo, .back, .next, .back-big, .next-big i {
  font-size: 48px;
  color: white;
}
.icon-photo, .back, .next, .back-big, .next-big {
  z-index: 255;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.back-big, .next-big {
  opacity: 0.8;
  padding: 0 50px;
}
.back, .next {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  opacity: 0;
}
.back{
  left: 0;
}
.photos {
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: 0.5s;
}
.photos:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.kids {
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 80vh;
}
.women {
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 50vh;
}
.women-height {
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 100vh;
}
.studio04 {
  background-image: url("./images/studio4.jpg");
}
.photo2 {
  background-image: url("./images/studio5.jpg");
}
.photo3 {
  background-image: url("./images/studio6.jpg");
}
.photo11 {
  background-image: url("./images/studio11.jpg");
}
.photo12 {
  background-image: url("./images/studio12.jpg");
}
.photo13 {
  background-image: url("./images/studio13.jpg");
}
.photo14 {
  background-image: url("./images/studio14.jpg");
}
.kids00 {
  background-image: url("./images/kids00.jpg");
}
.kids01 {
  background-image: url("./images/kids01.jpg");
}
.kids1 {
  background-image: url("./images/kids1.jpg");
}
.kids2 {
  background-image: url("./images/kids2.jpg");
}
.kids3 {
  background-image: url("./images/kids3.jpg");
}
.kids5 {
  background-image: url("./images/kids5.jpg");
}
.kids06 {
  background-image: url("./images/kids6.jpg");
  background-size: cover;
  background-position: center;
  flex: 1;
}
.kids04 {
  background-image: url("./images/kids4.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
}
.bobo {
  background-image: url("./images/bobo.jpg");
}
.studio08 {
  background-image: url("./images/studio8.jpg");
}
.studio04Small {
  background-image: url("./images/studio4Small.jpg");
  background-size: cover;
  background-position: center;
  display: none;
  width: 100%;
  height: 350px;
}
.studio07 {
  background-image: url("./images/studio7.jpg");
}
.studio09 {
  background-image: url("./images/studio9.jpg");
}
.studio03 {
  background-image: url("./images/studio3.jpg");
}
.flowers {
  background-image: url("./images/flowers.jpg");
  background-size: cover;
  background-position-x: center;
  width: 30%;
}
.panorama {
  background-image: url("./images/panorama.jpg");
  height: 350px;
  background-size: cover;
  background-position-x: center;
}
.showMe {
  position: absolute;
  width: 1200px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.showMe div {
  width: 1200px;
  height: 880px;
  background-size: cover;
  border-radius: 5px;
}
.exitButton {
  width: 150px;
  height: 30px;
  background-color:rgba(247, 229, 229, 0.3);
  position: relative;
  bottom: 50px;
  border-radius: 5px;
  font-size: 20px;
}
.exitButton:hover {
  background-color:rgba(255, 179, 179, 0.3);
}
.belt-nav {
  transform: translateY(-70px);
  background-color: white;
  border-bottom: 1px solid #f59692;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}
.belt-nav-top {
  position: fixed; 
  top: 0;
  left: 0; 
  z-index: 100; 
  width: 100%;
  transform: translateY(0);
}
.show-second {
  width: 200px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  transition: 0.5s;
  
}
.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.map-container img {
  width: 100%;
}
.show-photo {
  margin: 5px 5px 5px 0;
  cursor: pointer;
  width: 40px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  transition: 1s;
}
.show-studio-photo {
  background-image: url('./images/studioMini.jpg');
}
.show-kindergarten-photo {
  background-image: url('./images/kindergartenMini.jpg');
}
.show-text {
  width: 160px;
  height: 60px;
  text-align: center;
  transform: translateX(100px) rotate(-90deg) scale(0.5);
  color: rgba(0, 146, 204, 0);
  transition: 0.4s;
  font-size: 18px;
  display: flex;
  align-items: center;
  z-index: -3;
}
.text-and-photo {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.text-width-photo {
  margin: 10px 0;
  width: 70%;
}
.show-burger {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 111;
}
.hamburger-container {
  position: fixed;
  top: 15px;
  right: 20px;
  display: none;
  background-color: rgba(255,255,255,0);
  z-index: 112;
}
.hamburger {
  width: 30px;
  height: 0;
  border: 4px solid #f59692;
  background-color: #f59692;
  margin-bottom: 5px;
}
.line {
  height: 1px;
  width: 90%;
  border-bottom: 1px solid #f59692;
  margin: 0 auto;
}
#map {
  font-family: 'Josefin Sans', sans-serif;
}
#map h2 {
  color: #969da1;
}
#map h1, h2, li {
  padding-bottom: 30px;
}
#map li {
  list-style-type: none;
  font-size: 40px;
}
#map ul {
  display: flex;
  justify-content: space-around;
  width: 600px;
}
#map>div:last-child>div {
  height: auto !important;
}
.mailto {
  padding: 10px;
}
/* .phones-container {
  display: flex;
  flex-direction: row;
  align-items: center;
} */
.phone-icon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.phone-icon img {
  padding-right: 20px;
  width: 100px;
}
.phones-contact {
  flex-direction: column;
  text-align: center;
}
.phones-contact a {
  text-decoration: none;
  color: #db4d50;
}
.links-contact {
  flex-direction: row;
}
.links-contact-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.links-contact a, .links-contact-mobile a {
  text-decoration: none;
  color: white;
}
.links-contact li, .links-contact-mobile li {
  padding: 0;
  justify-content: space-between;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.links-contact li:nth-child(2), .links-contact-mobile li:nth-child(3) {
  width: 300px;
  background-color: #f59692;
}
.links-contact li:nth-child(2) a, .links-contact-mobile li:nth-child(3) a {
  font-size: 30px;
}
.links-contact i, .links-contact-mobile i {
  font-size: 80px;
  color: #f59692;
}
.links-contact i:hover, .links-contact-mobile i:hover {
  color: #db4d50;
}
.links-contact li:nth-child(2):hover, .links-contact-mobile li:nth-child(3):hover {
  background-color: #db4d50;
}
.offersContainer {
  display: flex;
  flex-direction: column;
}
.offerts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.offer {
  width: 500px;
  height: 350px;
  background-color: #f59692;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.offer a {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 60px;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.1;
  transition: 0.5s;  
}
.offer a:hover {
  opacity: 0.8;
  color: white;
  transform: scale(1.01);
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
.offer h2 {
  color: white;
  font-size: 60px;
}
.offer:hover {
  background-color: #f7b1af;
  cursor: pointer;
}
.family {
  background-image: url('./images/family.jpg');
}
.tummy {
  background-image: url('./images/tummy.jpg');
}
.baby {
  background-image: url('./images/baby.jpg');
}
.children {
  background-image: url('./images/children.jpg');
}
.commercial {
  background-image: url('./images/commercial.jpg');
}
.openAir {
  background-image: url('./images/openAir.jpg');
}
.professional {
  background-image: url('./images/professional.jpg');
}
.communion {
  background-image: url('./images/communion.jpg');
}
.logo-mobile {
  width: 50%;
}
.logo-mobile a {
  display: flex;
  justify-content: center;
}
.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: #e3e3e4;
  z-index: 1000000;
}
.full-screen img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 

}
.full-screen-exit {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 6px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  z-index: 1000;
}
.full-screen-exit:hover {
  color: #f59692; 
}
footer {
  padding: 20px 0;
}
.footer-gallery {
  padding-top: 0;
}
/* --------------------------------------------------------- width 1400px  */
@media screen and (max-width: 1400px){
  .h1-photo h1 {
    font-size: 60px;
  }
  #romb {
    width: 250px;
    height: 250px;
  }
  #logo-home {
    width: 300px;
    height: 150px;
  }
  .photo-box-gallery {
    width: 977px;
    height: 776px;
  }
  .photo-box-mini {
    width: 193px;
  }
  .photo-box-mini img {
    width: 193px;
    height: 256px;
  }
  .photo-box-big img {
    width: 583px;
    height: 776px;
  }
  .icon-photo:last-child {
    left: 483px;
  }
}
/* --------------------------------------------------------- width 1250px  */
@media screen and (max-width: 1250px){
  nav a {
    font-size: 22px;
  }
  .show-photo {
    height: 55px;
  }
}
/* --------------------------------------------------------- width 1200px  */
@media screen and (max-width: 1200px){
  .h1-photo h1 {
    font-size: 52px;
  }
  #romb {
    width: 200px;
    height: 200px;
  }
  #logo-home {
    width: 220px;
    height: 110px;
  }
  #logo {
    transform: translateY(-5px);
  }
  #about-us-studio p, #about-us-kindergarten p, #about-us-studio-offer p {
    margin: auto 10px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
  }
  .title {
    font-size: 28px;
    text-align: center;
    padding: 20px;
  }
  .photo-studio .photo-box:nth-child(1) {
    display: none !important
  }
  .photo-kids .photo-box:nth-child(1) {
    display: none !important
  }
  .photo-box-gallery {
    width: 814px;
    height: 647px;
  }
  .photo-box-mini {
    width: 161px;
  }
  .photo-box-mini img {
    width: 161px;
    height: 213px;
  }
  .photo-box-big img {
    width: 486px;
    height: 647px;
  }
  .icon-photo:last-child {
    left: 386px;
  }
  .exit-button-container {
    display: none;
  }
}
/* --------------------------------------------------------- width 1150px  */
@media screen and (max-width: 1150px) {
  nav li {
    padding: 5px 20px;
  }
}
/* --------------------------------------------------------- width 1025px  */
@media screen and (max-width: 1025px) {
  .page-option {
    height: 83vh;
  }
  .option span {
    display: none;
  }
  .h1-photo span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 49vw;
    height: 83vh;
    z-index: 115;
    font-size: 0;
  }
  .h1-photo {
    position: absolute;
    width: 49vw;
    height: 83vh;
    padding: 0;
  }
  .option:nth-child(1) {
    background-position: top;
  }
  .h1-photo:nth-child(1) {
    top: 0;
    left: 0;
    justify-content: center;
    align-items: flex-end;
  }
  .h1-photo:nth-child(2) {
    top: 0;
    left: 51vw;
    justify-content: center;
    align-items: flex-start
  }
  .h1-photo h1 {
    font-size: 36px;
    line-height: 36px;
    padding: 10px;
    z-index: 5;
  }
  .h1-photo:nth-child(1) h1 {
    color: white;
  }
  .h1-photo:nth-child(2) h1 {
    color: black;
  }
  .panorama {
    background-image: url("./images/panoramaMedium.jpg");
    height: 300px;
  }
  .offer {
    width: 400px;
    height: 250px;
  }
  .offer a {
    font-size: 40px;
  }
}
/* --------------------------------------------------------- width 1000px  */
@media screen and (max-width: 1000px) {
  .photo-studio .photo-box:last-child {
    display: none !important
  }
  .photo-kids .photo-box:last-child {
    display: none !important
  }
  .belt-nav {
    display:none;
  }
  .belt-nav-top {
    display:none;
  }
  .belt-nav ul {
    display: none;
  }
  #logo {
    display: none;    
  }
  .show-burger {
    display: block;
  }
  .hamburger-container {
    display: block;
    top: 10px;
  }
  .hamburger {
    width: 40px;
    border: 3px solid #f59692;
    margin-bottom: 6px;
  }
  .belt-logo-burger {
    display: block;
    position: fixed;
    top: 0;
    z-index: 111;
    height: 50px;
  }
  #logo-portrait {
    display: block;
    position: fixed;
    z-index: 111;
    height: 50px;
  }
  .show-second {
    display: none;  
  }
  .back-color {
    transform: translateY(0);
  }
  .big-photo-container {
    position: relative;
    width: 100%;
  }

}
/* --------------------------------------------------------- width 900px  */
@media screen and (max-width: 900px){
  
  #romb {
    width: 150px;
    height: 150px;
  }
  #logo-home {
    width: 180px;
    height: 90px;
  }
  nav a {
    font-size: 24px;
  }
  .photo-box-gallery {
    width: 600px;
    height: 750px;
  }
  .photo-box-mini {
    display: none;
  }
  .photo-box-big img {
    width: 600px;
    height: 750px;
  }
  .icon-photo:last-child {
    left: 500px;
  }
  #map ul {
    width: 600px;
  }
  #map li {
    font-size: 30px;
  }
  .links-contact {
    margin-top: 20px;
  }
  .phones-container {
    width: 100%;
  }
  .phone-icon img {
    height: 120px;;
  }
  .offer {
    width: 250px;
    height: 150px;
  }
  .offer a {
    font-size: 20px;
  }
}
/* --------------------------------------------------------- width 600px  */
@media screen and (max-width: 600px){
  .h1-photo h1 {
    font-size: 26px;
    line-height: 26px;
  }
  .hamburger {
    width: 35px;
    border: 2px solid #f59692;
    margin-bottom: 4px;
  }
  .belt-logo-burger {
    display: block;
    position: fixed;
    top: 0;
    z-index: 111;
    height: 40px;
  }
  #logo-portrait {
    display: block;
    position: fixed;
    z-index: 111;
    height: 42px;
  }
  .photo-box-gallery {
    width: 500px;
    height: 650px;
  }
  .photo-box-big img {
    width: 500px;
    height: 650px;
  }
  .icon-photo:last-child {
    left: 400px;
  }
  #map ul {
    width: 500px;
    align-items: center;
  }
  #map li {
    font-size: 30px;
  }
  .links-contact li:nth-child(2) a {
    font-size: 24px;
    padding: 10px;
  }
  .links-contact i {
    font-size: 60px;
  }
}
/* --------------------------------------------------------- portrait  */
@media screen and (orientation: portrait) {

  .banner-woman {
    background: url('./images/bannerStudioLargePortrait.jpg') no-repeat;
      background-size: cover;
      background-position-y: center;
      background-position-x: center;
  }
  .banner-kindergarten {
    background: url('./images/bannerKindergartenLargePortrait.jpg') no-repeat;
      background-size: cover;
      background-position-y: center;
      background-position-x: center;
  }
  .icon-photo:hover {
    background-color: rgba(255, 255, 255, 0);
  }
}
/* --------------------------------------------------------- width 1200px portrait  */
@media screen and (max-width: 1200px) and (orientation: portrait) {
  .page-option {
    height: 90vh;
  }
  .option span {
    display: none;
  }
  .h1-photo span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 43vh;
    z-index: 115;
    font-size: 0;
  }
  .logo-container {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 90vh;
  }
  .h1-photo {
    position: absolute;
    width: 100vw;
    height: 43vh;
    padding: 0;
  }
  .h1-photo:nth-child(1) {
    top: 0vh;
    left: 0;
    justify-content: flex-end;
    align-items: flex-start
  }
  .h1-photo:nth-child(2) {
    top: 47vh;
    left: 0;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .h1-photo h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .h1-photo:nth-child(1) h1 {
    color: white;
  }
  .h1-photo:nth-child(2) h1 {
    color: black;
  }
  .option {
    width: 100vw;
    height: 49%;
  }
 .option:nth-child(1) {
    background-image: url('./images/homeStudioLarge.jpg');
    background-position-x: right;
  } 
  .option:nth-child(2) {
    background-image: url('./images/homeKindergartenLarge.jpg');
  }
  #about-us-studio p, #about-us-kindergarten p, #about-us-studio-offer p {
    font-size: 16px;
    padding: 10px;
    line-height: 20px;
  }
  .page-option {
    flex-direction: column;
  }
  #romb {
    width: 260px;
    height: 260px;
  }
  #logo-home {
    width: 300px;
    height: 150px;
  }
  .banner-woman {
    background: url('./images/bannerStudioMediumPortrait.jpg') no-repeat;
      background-size: cover;
      background-position-y: center;
      background-position-x: center;
  }
  .banner-kindergarten {
    background: url('./images/bannerKindergartenMediumPortrait.jpg') no-repeat;
      background-size: cover;
      background-position-y: center;
      background-position-x: center;
  }
  .belt-nav {
    position: absolute;
    top: 100px;
    right: 30px;
    background-color: rgba(255,255,255,0);
  }
  .belt-nav ul {
    display: none;
  }
  .back-color {
    transform: translateY(0);
  }
  #logo {
    display: none;    
  }
  .show-burger {
    display: block;
  }
  .hamburger-container {
    display: block;
  }
  .hamburger {
    width: 50px;
    border: 5px solid #f59692;
    margin-bottom: 10px;
  }
  .belt-logo-burger {
    display: block;
    position: fixed;
    top: 0;
    z-index: 111;
    height: 80px;
  }
  #logo-portrait {
    display: block;
    position: fixed;
    z-index: 111;
    width: 170px;
    height: 75px;
  }
  .show-second {
    display: none;  
  }
  nav a {
    font-size: 40px;
  }
  .title {
    font-size: 42px;
  }
  .photo-box-gallery {
    width: 850px;
    height: 1131px;
  }
  .photo-box-mini {
    display: none;
  }
  .photo-box-big img {
    width: 850px;
    height: 1131px;
  }
  .icon-photo, .icon-photo-big{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
  }
  .icon-photo i, .icon-photo-big i{
    color: rgba(255, 255, 255, 0.5);
  }
  .icon-photo:last-child {
    left: 750px;
  }
  .exit-button-container {
    display: none;
  }
  #map h1 {
    font-size: 40px;
    padding-bottom: 40px;
  }
  #map h2 {
    font-size: 36px;
    padding-bottom: 35px;
  }
  #map ul {
    width: 600px;
  }
  #map li {
    font-size: 35px;
  }

}
/* --------------------------------------------------------- width 900px portrait  */
@media screen and (max-width: 900px) and (orientation: portrait) {
  .offerts {
    flex-direction: column;
  }
  .offer {
    width: 700px;
    height: 500px;
    margin: 0;
    border-radius: 0;
    align-items: flex-end;
  }
  .offer a {
    opacity: 1;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    border-radius: 0;
    color: white;
  }
}
/* --------------------------------------------------------- width 600px portrait  */
@media screen and (max-width: 600px) and (orientation: portrait) {
  .option:nth-child(1) {
    background-image: url('./images/homeStudioSmall.jpg');
    background-position-x: left;
  } 
  .option:nth-child(2) {
    background-image: url('./images/homeKindergartenSmall.jpg');
  }
  .page-option {
    flex-direction: column;
  }
  .h1-photo h1 {
    font-size: 40px;
    line-height: 40px;
  }
  #romb {
    width: 160px;
    height: 160px;
  }
  #logo-home {
    width: 160px;
    height: 80px;
  }
  .banner-woman {
    background: url('./images/bannerStudioSmallPortrait.jpg') no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }
  .banner-kindergarten {
  background: url('./images/bannerKindergartenSmallPortrait.jpg') no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }
  #about-us-studio p, #about-us-kindergarten p, #about-us-studio-offer p {
    font-size: 16px;
    padding: 10px;
    line-height: 20px;
  }
  .hamburger {
    width: 30px;
    border: 3px solid #f59692;
    margin-bottom: 6px;
  }
  #logo-portrait {
    height: 50px;
  }
  .photos {
    background-position: right;
  }
  .panorama {
    background-image: url("./images/panoramaSmall.jpg");
    height: 350px;
  }
  .text-and-photo {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .text-width-photo {
    width: 100%;
  }
  .flowers {
    background-image: url("./images/photos.jpg");
    width: 100%;
    height: 350px;
  }
  .studio04Small {
    display: block;
    height: 200px;
  }
  .photo-box {
    height: 200px;
  }
  .belt-logo-burger {
    height: 50px;
  }
  #logo-portrait {
    width: 115px;
    height: 52px;
  }
  nav a {
    font-size: 32px;
  }
  .title {
    font-size: 28px;
    padding: 20px;
  }
  .photo-box-gallery {
    width: 100vw;
    height: 90vh;
  }
  .photo-box-big img {
    width: 100vw;
    height: 90vh;
  }
  .icon-photo:last-child {
    left: 73vw;
  }
  #map h1 {
    font-size: 30px;
    padding-bottom: 40px;
  }
  #map h2 {
    font-size: 20px;
    padding-bottom: 35px;
  }
  #map ul {
    width: 360px;
  }
  #map li {
    font-size: 20px;
    padding-bottom: 0;
  }
  .phone-icon {
    display: none;
  }
  .phones-contact li {
    padding-bottom: 15px !important;
  }
  .phones-contact a {
    font-size: 28px;
  }
  .phones-container {
     margin-bottom: 20px;
     width: 100%;
  }
  .offer {
    width: 100%;
    height: 50vh;
  }
}
/* --------------------------------------------------------- width 350px portrait  */
@media screen and (max-width: 350px) and (orientation: portrait) {
  #romb {
    width: 120px;
    height: 120px;
  }
  #logo-home {
    width: 120px;
    height: 60px;
  }
  /* .title {
    padding-bottom: 30px;
  } */
  .hamburger-container {
    top: 10px;
    right: 10px;
  }
  .hamburger {
    width: 25px;
    border: 2px solid #f59692;
    margin-bottom: 5px;
  }
  .belt-logo-burger {
    height: 41px;
  }
  #logo-portrait {
    height: 40px;
  }
  .h1-photo h1 {
    font-size: 24px;
    line-height: 24px;
  }
  .title {
    font-size: 20px;
    /* padding: 43px; */
  }
  .mail-mobile {
    width: 90% !important;
  }
  .mailto {
    font-size: 24px !important;
    text-align: center;
  }
  .photo-box-gallery {
    width: 100vw;
    height: 90vh;
  }
  .photo-box-big img {
    width: 100vw;
    height: 90vh;
  }
  .icon-photo:last-child {
    left: 68vw;
  }
  #map h1 {
    font-size: 20px;
    padding-bottom: 40px;
  }
  #map h2 {
    font-size: 18px;
    padding-bottom: 35px;
  }
  #map ul {
    width: 300px;
  }
  .phones-contact a {
    font-size: 20px;
  }
  .offer a {
    font-size: 36px;
  }
}

