* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.backColor {
  background-color: white;
  transform: translateY(-70px);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.page-option {
  width: 100vw; 
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.option, .option-text{ 
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  line-height: 400px;
  font-weight: bold;
  transition: 1s;
}
.option:hover {
  opacity: 0.3;
  transition: 0.8s;
  cursor: pointer;
}
.option:nth-child(1) {
  background-image: url('./images/studio.jpg');
  background-size: cover;          
  background-repeat: no-repeat;
  background-position: center center;   
}
.option:nth-child(2) {
  background-image: url('./images/kids.jpg');
  background-size: cover;          
  background-repeat: no-repeat;
  background-position: center center;
}
.option span {
  display: inline-block;
  opacity: 0;
  width: 49vw;
  height: 100vh;
}
.page-option:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
#romb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  width: 350px;
  height: 350px;
  background: white;
}
.bannerAndNav {
  width: 100vw;
  height: 100vh;
}
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('./images/kindergarten.jpg') no-repeat;
  background-size: cover;
  z-index: -5;
}
#logo-home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 200px;
  background-image: url('./images/fotodawid_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
#logo {
  position: absolute;
  top: 70px;
  width: 400px;
  height: 200px;
  background-image: url('./images/fotodawid_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
nav {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  
}
nav li {
  width: 150px;
  list-style-type: none;
  text-align: center;
  margin: 2%;
  padding: 5px;
}
nav a {
  text-decoration: none;
  color: brown;
  font-size: 24px;
}
nav a:hover {
  color: black;
}
.aboutUs {
  text-align: justify;
}
.aboutUs H1 {
  font-size: 42px;
  padding-top: 40px;
  text-align: center;
}
.aboutUs p {
  font-size: 24px;
  padding-top: 20px;
  line-height: 30px;
}
/* .aboutUs img {
  width: 200px;
  height: 100px;
} */
.test {
  border: 2px solid red;
  width: 100vw;
  height: 150px;
}
.photo-gallery {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
}
.photos {
  background-size: cover;
  width: 250px;
  height: 150px;
  cursor: pointer;
}
.photo1 {
  background-image: url("./images/studio4.jpg");
}
.photo2 {
  background-image: url("./images/studio5.jpg");
}
.photo3 {
  background-image: url("./images/studio6.jpg");
}
.photo4 {
  background-image: url("./images/studio7.jpg");
}
.showMe {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  width: 1200px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.showMe div {
  width: 1200px;
  height: 880px;
  background-size: cover;
  border-radius: 5px;
  border: 2px solid brown;
}
.exitButton {
  width: 150px;
  height: 30px;
  background-color:rgba(247, 229, 229, 0.3);
  position: relative;
  bottom: 50px;
  border-radius: 5px;
  font-size: 20px;
}
.exitButton:hover {
  background-color:rgba(255, 179, 179, 0.3);
}