* {
  margin: 0;
  padding: 0;
  font-family: 'Caveat', cursive;  
}
p, h1, footer {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
.back-color {
  background-color: white;
  transform: translateY(-70px);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page-option {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.option, .option-text{ 
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  line-height: 400px;
  font-weight: bold;
  transition: 1s;
}
.option:nth-child(1) {
  background-image: url('./images/studio.jpg');
  background-size: cover;          
  background-repeat: no-repeat;
  background-position: center center; 
}
.option:nth-child(2) {
  background-image: url('./images/kids.jpg');
  background-size: cover;          
  background-repeat: no-repeat;
  background-position: center center;
}
.h1-photo {
  position: absolute;
  top: 0;
  font-size: 48px;
  line-height: 40vh;
  text-align: center;
  transition: 1s;
  display: flex;
  line-height: 50px;
  padding: 0 25px;
  width: 49%;
  height: 100%;
  cursor: pointer;
}
.h1-photo:nth-child(1) {
  align-items: flex-end;
  justify-content: flex-start;
  left: 0;
}
.h1-photo:nth-child(1) h1 {
  color: rgba(255, 255, 255, 0);
}
.h1-photo:nth-child(2) {
  align-items: flex-start;
  justify-content: flex-end;
  right: 0;
  color: rgba(0, 0, 0, 0);
}
.h1-photo h1 {
  font-family: 'Caveat', cursive;
  padding: 40px;
  font-size: 70px;
}
.option span {
  display: inline-block;
  opacity: 0;
  width: 49vw;
  height: 100vh;
}
.page-option:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
#romb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  width: 350px;
  height: 350px;
  background: white;
  border-radius:20px;
}
.banner-container {
  height: 100vh;
}
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}
.banner-woman {
  background: url('./images/woman.jpg') no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}
.banner-kindergarten {
  background: url('./images/kindergarten.jpg') no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}
#logo-home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 200px;
  background-image: url('./images/fotodawid_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
#logo-portrait {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 50px;
  background-image: url('./images/fotodawid_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#logo {
  position: relative;
  top: 10px;
  left: 10px;
  width: 120px;
  height: 60px;
  background-image: url('./images/fotodawid_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
nav {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav li {
  transition: 0.5s;
  list-style-type: none;
  text-align: center;
  margin: 15px 0 10px 0;
  padding: 5px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li:first-child {
  margin-left: 20px;
}
nav a {

  text-decoration: none;
  color: #db4d50;
  font-size: 28px;
}
nav a:hover {
  color: black;
}
#about-us-studio, #about-us-kindergarten {
  text-align: justify;
}
#about-us-studio h1, #about-us-kindergarten h1 {
  font-size: 60px;
  padding: 80px;
  text-align: center;
}
#about-us-studio h2, #about-us-kindergarten h2 {
  letter-spacing: 3px;
  font-size: 28px;
  text-align: center;
  padding-bottom: 60px;
}
#about-us-studio h3, #about-us-kindergarten h3 {
  letter-spacing: 4px;
  font-size: 35px;
  text-align: center;
  padding-bottom: 40px;
}
#about-us-studio p, #about-us-kindergarten p {
  font-size: 28px;
  line-height: 35px;
  padding: 20px 10px;
}
.test {
  border: 2px solid red;
  width: 100vw;
  height: 150px;
}
.photo-gallery {
  padding-bottom: 20px;
  display: flex;
}
.photo-box {
  min-width: 250px;
  height: 350px;
  flex: 1;
  overflow: hidden;
}

.photos {
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: 0.5s;
}
.photos:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.kids {
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 80vh;
}
.women {
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 50vh;
}
.women-height {
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 100vh;
}
.studio04 {
  background-image: url("./images/studio4.jpg");
}
.photo2 {
  background-image: url("./images/studio5.jpg");
}
.photo3 {
  background-image: url("./images/studio6.jpg");
}
.photo11 {
  background-image: url("./images/studio11.jpg");
}
.photo12 {
  background-image: url("./images/studio12.jpg");
}
.photo13 {
  background-image: url("./images/studio13.jpg");
}
.photo14 {
  background-image: url("./images/studio14.jpg");
}
.kids00 {
  background-image: url("./images/kids00.jpg");
}
.kids01 {
  background-image: url("./images/kids01.jpg");
}
.kids1 {
  background-image: url("./images/kids1.jpg");
}
.kids2 {
  background-image: url("./images/kids2.jpg");
}
.kids3 {
  background-image: url("./images/kids3.jpg");
}
.kids5 {
  background-image: url("./images/kids5.jpg");
}
.kids06 {
  background-image: url("./images/kids6.jpg");
  background-size: cover;
  background-position: center;
  flex: 1;
}
.kids04 {
  background-image: url("./images/kids4.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
}
.bobo {
  background-image: url("./images/bobo.jpg");
}
.studio08 {
  background-image: url("./images/studio8.jpg");
}
.studio04Small {
  background-image: url("./images/studio4Small.jpg");
  background-size: cover;
  background-position: center;
  display: none;
  width: 100%;
  height: 350px;
}
.studio07 {
  background-image: url("./images/studio7.jpg");
}
.studio09 {
  background-image: url("./images/studio9.jpg");
}
.studio03 {
  background-image: url("./images/studio3.jpg");
}
.flowers {
  background-image: url("./images/flowers.jpg");
  background-size: cover;
  background-position-x: center;
  width: 30%;
}
.panorama {
  background-image: url("./images/panorama.jpg");
  height: 350px;
  background-size: cover;
  background-position-x: center;
}
.showMe {
  position: absolute;
  width: 1200px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.showMe div {
  width: 1200px;
  height: 880px;
  background-size: cover;
  border-radius: 5px;
  border: 2px solid #db4d50;
}
.exitButton {
  width: 150px;
  height: 30px;
  background-color:rgba(247, 229, 229, 0.3);
  position: relative;
  bottom: 50px;
  border-radius: 5px;
  font-size: 20px;
}
.exitButton:hover {
  background-color:rgba(255, 179, 179, 0.3);
}
.belt-nav {
  transform: translateY(-70px);
  background-color: white;
  border-bottom: 1px solid #db4d50;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.belt-nav-top {
  position: fixed; 
  top: 0;
  left: 0; 
  z-index: 100; 
  width: 100%;
  transform: translateY(0);
}
.show-second {
  width: 200px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  transition: 0.5s;
  
}
.show-photo {
  margin: 5px 5px 5px 0;
  cursor: pointer;
  width: 40px;
  height: 60px;
  display: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  transition: 1s;
}
.show-studio-photo {
  background-image: url('./images/studioMini.jpg');
}
.show-kindergarten-photo {
  background-image: url('./images/kindergartenMini.jpg');
}
.show-text {
  width: 160px;
  height: 60px;
  text-align: center;
  transform: translateX(100px) rotate(-90deg) scale(0.5);
  color: rgba(0, 146, 204, 0);
  transition: 0.4s;
  font-size: 18px;
  display: flex;
  align-items: center;
  z-index: -3;
}
.text-and-photo {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.text-width-photo {
  margin: 10px 0;
  width: 70%;
}
.hamburger-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  background-color: rgba(255,255,255,0);
  z-index: 111;
}
.hamburger {
  width: 30px;
  height: 0;
  border: 4px solid #db4d50;
  margin-bottom: 5px;
}
footer {
  padding: 20px 0;
}
@media screen and (max-width: 1400px){
  .h1-photo h1 {
    font-size: 28px;
  }
  #romb {
    width: 250px;
    height: 250px;
  }
  #logo-home {
    width: 300px;
    height: 150px;
  }
}
@media screen and (max-width: 1250px){
  nav a {
    font-size: 22px;
  }
  .show-photo {
    height: 55px;
  }
}
@media screen and (max-width: 1200px){
  .h1-photo h1 {
    font-size: 24px;
  }
  #romb {
    width: 200px;
    height: 200px;
  }
  #logo-home {
    width: 220px;
    height: 110px;
  }
  #logo {
    transform: translateY(-5px);
  }
  #about-us-studio p, #about-us-kindergarten p {
    margin: auto 10px;
    font-size: 24px;
    padding-top: 16px;
  }
  #about-us-studio h1, #about-us-kindergarten h1 {
    font-size: 28px;
    padding-top: 60px;
    text-align: center;
  }
  .photo-studio .photo-box:nth-child(1) {
    display: none !important
  }
  .photo-kids .photo-box:nth-child(1) {
    display: none !important
  }

}
@media screen and (max-width: 1150px) {
  nav li {
    padding: 5px 20px;
  }
}
@media screen and (max-width: 1000px) {
  .photo-studio .photo-box:last-child {
    display: none !important
  }
}
@media screen and (max-width: 900px){
  #romb {
    width: 150px;
    height: 150px;
  }
  #logo-home {
    width: 180px;
    height: 90px;
  }
  nav a {
    font-size: 16px;
  }
  .h1-photo h1 {
    font-size: 10px;
    letter-spacing: 5px;
    line-height: 20px;
    padding: 0 5px;
    height: 10vh;
    z-index: 5;
  }
  .h1-photo:nth-child(1) {
    top: 85vh;
    color: white;
  }
  .h1-photo:nth-child(2) {
    top: 5vh;
  }
}
@media screen and (orientation: portrait) {
  #romb {
    border-radius: 100% 50%;
  }
  .banner-woman {
    background: url('./images/bannerStudioLargePortrait.jpg') no-repeat;
      background-size: cover;
      background-position-y: center;
      background-position-x: center;
  }
  .banner-kindergarten {
    background: url('./images/bannerKindergartenLargePortrait.jpg') no-repeat;
      background-size: cover;
      background-position-y: center;
      background-position-x: center;
  }
  .belt-nav {
    position: absolute;
    top: 100px;
    right: 30px;
    background-color: rgba(255,255,255,0);
  }
  .belt-nav ul {
    display: none;
  }
  .back-color {
    transform: translateY(0);
  }
  #logo {
    display: none;    
  }
  .hamburger-container {
    display: block;
  }
  .hamburger {
    width: 50px;
    border: 5px solid #db4d50;
    margin-bottom: 10px;
  }
  #logo-portrait {
    display: block;
    position: fixed;
    z-index: 111;
    width: 150px;
    height: 75px;
  }
  .show-second {
    display: none;  
  }

}
@media screen and (max-width: 1200px) and (orientation: portrait) {
  .option {
    width: 100vw;
    height: 49vh;
  }
 .option:nth-child(1) {
    background-image: url('./images/homeStudioLarge.jpg');
    background-position-x: right;
    margin: 5px;
  } 
  .option:nth-child(2) {
    background-image: url('./images/homeKindergartenLarge.jpg');
  }
  .page-option {
    flex-direction: column;
  }
  .h1-photo {
    letter-spacing: 5px;
    line-height: 40px;
    padding: 0 25px;
    width: auto;
    height: 10vh;
    z-index: 5;
  }
  .h1-photo:nth-child(1) {
    left: auto;
    right: 0;
    justify-content: flex-end;
    top: 5vh;
    color: white;
  }
  .h1-photo:nth-child(2) {
    right: auto;
    left: 0;
    top: 85vh;
  }
  .h1-photo h1 {
    font-size: 20px;
  }
  #romb {
    width: 260px;
    height: 260px;
  }
  #logo-home {
    width: 300px;
    height: 150px;
  }
  .banner-woman {
    background: url('./images/bannerStudioMediumPortrait.jpg') no-repeat;
      background-size: cover;
      background-position-y: center;
      background-position-x: center;
  }
  .banner-kindergarten {
    background: url('./images/bannerKindergartenMediumPortrait.jpg') no-repeat;
      background-size: cover;
      background-position-y: center;
      background-position-x: center;
  }
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .option:nth-child(1) {
    background-image: url('./images/homeStudioSmall.jpg');
    background-position-x: left;
  } 
  .option:nth-child(2) {
    background-image: url('./images/homeKindergartenSmall.jpg');
  }
  .page-option {
    flex-direction: column;
  }
  .h1-photo {
    letter-spacing: 5px;
    line-height: 20px;
    padding: 0 5px;
    width: auto;
    height: 10vh;
    z-index: 5;
  }
  .h1-photo:nth-child(1) {
    left: auto;
    right: 0;
    justify-content: flex-end;
    top: 5vh;
    color: white;
  }
  .h1-photo:nth-child(2) {
    right: auto;
    left: 0;
    top: 85vh;
  }
  .h1-photo h1 {
    font-size: 10px;
  }
  #romb {
    width: 160px;
    height: 160px;
  }
  portrait {
    width: 180px;
    height: 90px;
  }
  .banner-woman {
    background: url('./images/bannerStudioSmallPortrait.jpg') no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }
  .banner-kindergarten {
  background: url('./images/bannerKindergartenSmallPortrait.jpg') no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }
  #about-us-studio p, #about-us-kindergarten p {
    font-size: 16px;
    padding: 10px;
    line-height: 20px;
  }
  #about-us-studio h1, #about-us-kindergarten h1 {
    font-size: 24px;
    padding: 50px;
  }
  .hamburger {
    width: 30px;
    border: 3px solid #db4d50;
    margin-bottom: 6px;
  }
  #logo-portrait {
    width: 120px;
    height: 60px;
  }
  .photos {
    background-position: right;
  }
  .panorama {
    background-image: url("./images/panoramaSmall.jpg");
    height: 350px;
  }
  .text-and-photo {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .text-width-photo {
    width: 100%;
  }
  .flowers {
    background-image: url("./images/photos.jpg");
    width: 100%;
    height: 350px;
  }
  .studio04Small {
    display: block;
    height: 200px;
  }
  .photo-box {
    height: 200px;
  }
}
@media screen and (max-width: 350px) and (orientation: portrait) {
  #about-us-studio h1, #about-us-kindergarten h1 {
    padding-bottom: 30px;
  }
  .hamburger-container {
    top: 10px;
    right: 10px;
  }
  .hamburger {
    width: 25px;
    border: 2px solid #db4d50;
    margin-bottom: 5px;
  }
  #logo-portrait {
    top: 3px;
    left: 3px;
    width: 80px;
    height: 40px;
  }
}

